<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор площади треугольника</title>
    <style>
        td {
            text-align: right;
        }
    </style>
</head>
<body>
<h2>Вычисление площади треугольника</h2>
<form method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>Основание (см) -></td>
            <td><input type="number" name="triangle_base" value="{{triangle_base}}" step="any"></td>
        </tr>
        <tr>
            <td>Высота (см) -></td>
            <td><input type="number" name="triangle_height" value="{{triangle_height}}" step="any"></td>
        </tr>
        <tr>
            <td>Площадь треугольника (кв.см) -></td>
            <td><input type="number" name="triangle_area" value="{{triangle_area}}" disabled></td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" name="button" value="Вычислить">
                <input type="submit" name="button" value="Очистить">
            </td>
        </tr>
    </table>
</form>
<a href="/">На главную страницу</a>
</body>
</html>